<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <%= link_to "Home", root_path, class: "p-2 text-muted" %>
    <%= link_to "About", about_me_path, class: "p-2 text-muted" %>
    <%= link_to "Contact", contact_path, class: "p-2 text-muted" %>
    <%= link_to "Blog", blogs_path, class: "p-2 text-muted" %>
    <%= link_to "Portfolio", portfolios_path, class: "p-2 text-muted" %>
  </nav>
</div>

