<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">

          <%= render "shared/application_nav", location: 'top' %>

          <%= yield %>

          <%= render "shared/application_footer" %>

          <%= source_helper %>

        </div>
      </div>
    </div>
  </body>

</html>
